body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #4B2F1A; /* Deep Brown */
    margin: 0;
}

.container {
    background-color: white;
    padding: 40px; /* 기존 80px에서 40px으로 줄임 */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 30%; /* 기존 40%에서 30%로 축소 */
    text-align: center;
}

.question-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px; /* 질문 아래 간격 줄임 */
}

input, button {
    width: 100%;
    margin: 5px 0; /* 기존 10px에서 5px으로 간격 줄임 */
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    background-color: #F5F5DC; /* Beige color for buttons */
    color: black;
    cursor: pointer;
}

button:hover {
    background-color: #E0E0C9;
}

button.previous, button.next {
    width: 48%;
    margin-top: 10px; /* 기존 15px에서 10px으로 줄임 */
}

input[type="radio"] {
    width: auto;
    margin-right: 5px; /* 기존 10px에서 5px으로 줄임 */
}

label {
    display: block;
    font-size: 14px; /* 기존 16px에서 14px으로 축소 */
    margin: 5px 0;
    cursor: pointer;
}
